.table-container {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100%;
}

.p-datatable-footer {
    display: none !important;
}


.my-button {
    margin-right: 5px; 
}

.flex {
    display: flex;
}

.justify-content-between {
    justify-content: space-between;
}

.alingLeft {
    position: relative;    
    top: 3px;

}

