:host ::ng-deep {
    .dock-window {
        width: 100%;
        height: 450px;
        position: relative;
        background-image: url('https://primefaces.org/cdn/primeng/images/dock/window.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .p-dock {
        z-index: 1000;
    }
}

.p-toolbar-group-start button,
.p-toolbar-group-end button {
    margin-right: 5px; /* Ajusta el valor según el espaciado deseado */
}