<div class="toolbar-container">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <div *ngFor="let button of buttons">
                <button pButton [icon]="button.icon" [label]="button.label" [routerLink]="button.routerLink" class="mr-2" *ngIf="button.slot === 'start'"></button>
            </div>
        </div>
        <div class="p-toolbar-group-center">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input pInputText placeholder="Search" />
            </span>
        </div>
        <div class="p-toolbar-group-end">
            <div *ngFor="let button of buttons">
                <button pButton [icon]="button.icon" [label]="button.label" [routerLink]="button.routerLink" class="mr-2" *ngIf="button.slot === 'end'"></button>
            </div>
        </div>
    </p-toolbar>
</div>



