:host ::ng-deep {
    .dock-window {
        width: 100%;
        height: 450px;
        position: relative;
        background-image: url('https://primefaces.org/cdn/primeng/images/dock/window.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    .p-dock {
        z-index: 1000;
    }
}

.p-toolbar-group-start button,
.p-toolbar-group-end button {
    margin-right: 5px; /* Ajusta el valor según el espaciado deseado */
}


.toolbar-container {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ajusta este valor según sea necesario */
}

.sidebar-content {
    width: 100%;
    transition: width 0.3s ease; /* Añade una transición suave */
}

.p-sidebar-visible .sidebar-content {
    width: calc(100% - 50px); /* Ajusta el ancho según el tamaño de la barra lateral */
}


.vertical-toolbar {
    position: fixed;
    left: 0;
    top: 80px;
    bottom: 0;
}

.vertical-toolbar .p-sidebar {
    height: 100%;
}
