<p-toolbar>
    <div class="p-toolbar-group-start">
        <button pButton icon="pi pi-home" label="Artículos" [routerLink]="['/articles']" class="mr-2"></button>
        <button pButton icon="pi pi-info-circle" label="Detalle" [routerLink]="['/articles', 'detalle']" class="mr-2"></button>
        <button pButton icon="pi pi-dashboard" label="Dashboard" [routerLink]="['/dashboard']" class="mr-2"></button>
        <button pButton icon="pi pi-calendar" label="Calendario" [routerLink]="['/dashboard', 'calendar']" class="mr-2"></button>
        <button pButton icon="pi pi-user-plus" label="Registro" [routerLink]="['/register']" class="mr-2"></button>
        <button pButton icon="pi pi-sign-in" label="Login" [routerLink]="['/login']"></button>
    </div>    
    <div class="p-toolbar-group-center">
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText placeholder="Search" />
        </span>
    </div>
    <div class="p-toolbar-group-end">
        <p-splitButton label="Save" icon="pi pi-check" [model]="items"></p-splitButton>
    </div>
</p-toolbar>



<div class="card">
    <div class="dock-window">
        <p-dock [model]="dockItems" [position]="position">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.icon" [alt]="item.label" width="100%" />
            </ng-template>
        </p-dock>
    </div>
</div>
