@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

/* You can add global styles to this file, and also import other style files */
body {
    position: fixed;
    top: 80px;
    height: 90vh;
    display: flex;
    width: 100%; 
    justify-content: center;
    align-items: center;
}

